WindowsGame10/WindowsGame10/WindowsGame10/bin/x86/Debug/
WindowsGame10/SkinnedModel/bin/x86/Debug/
WindowsGame10/SkinnedModel/obj/x86/Debug/
WindowsGame10/SkinnedModelPipeline/bin/x86/Debug/
WindowsGame10/SkinnedModelPipeline/obj/x86/Debug/
WindowsGame10/WindowsGame10/WindowsGame10/obj/x86/Debug/
WindowsGame10/WindowsGame10/WindowsGame10Content/obj/x86/Debug/
